.footer
    background-color: rgb(247, 247, 247)
    box-shadow: 0px 4px 30px black
    padding: 1.5rem 0

    &-info
        align-items: center
        display: flex
        flex-direction: column
        margin-bottom: 1rem

        @media (min-width: $tablet)
            flex-direction: row
            justify-content: center

        &-item
            align-items: center
            display: flex
            margin-bottom: 1rem

            @media (min-width: $tablet)
                border-right: 1px solid rgb(153, 153, 153)
                margin-right: 15px
                padding-right: 15px

            &:last-child
                border: 0
                margin: 0
                padding: 0

            &-img
                display: block
                height: auto
                margin-right: 10px
                width: 30px

            &-text
                font-size: .8rem

            &_blue
                background-color: rgb(46, 66, 127)
                padding: 10px

                .footer-info-item-text
                    color: white

    &-tels
        border-color: rgb(153, 153, 153)
        border-style: solid
        border-width: 1px 0
        padding: 10px 0
        text-align: center

    &-link
        color: black
        text-decoration: none

    &-ssl
        display: flex
        flex-direction: column
        align-items: center
        padding: 10px

        @media (min-width: $tablet)
            flex-direction: row
            justify-content: space-between

        &-img
            display: block
            flex-shrink: 0
            height: auto
            margin: 20px 0
            width: 60px
        
            @media (min-width: $tablet)
                margin: 0 30px 0 0

        &-text
            font-size: .7rem
            max-width: 900px

            @media (min-width: $tablet)
                text-align: right

    &-logo
        color: rgb(102, 102, 102)
        display: block
        font-size: 4rem
        font-weight: 900
        line-height: 50px
        text-transform: uppercase
