*
    box-sizing: border-box


html,
body
    border: 0 
    font-family: Dosis
    font-size: 16px
    font-weight: 400
    margin: 0
    min-width: 320px
    padding: 0


figure,
h1,
h2,
h3,
h4,
h5,
h6,
p
    margin: 0

input
    background-color: white
    border: 0
    height: 40px
    outline: 0
    padding: 0 10px
    width: 100%

.container
    height: 100%
    margin: 0 auto
    max-width: 1536px
    padding: 0 1.5rem
    position: relative
    width: 100%

    &_md
        max-width: 1050px

.off-screen
    border-width: 0
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    white-space: nowrap
    width: 1px


.btn
    align-items: center        
    background-color: transparent
    border: 0
    cursor: pointer
    display: inline-flex
    font-weight: 700
    height: 30px
    justify-content: center
    outline: 0
    padding: 0 1.5rem
    text-decoration: none
    transition: background-color .5s ease, color .5s ease
    width: auto

    &-icon
        height: 30px
        padding: 0
        width: 30px

        &-img
            display: block
            height: 100%
            width: 100%

    &-red
        background-color: rgb(167, 66, 42)
        color: white

        &:hover
            background-color: rgb(226, 31, 35)

    &-blue
        background-color: rgb(46, 66, 127)
        color: white

        &:hover
            background-color: rgb(111, 133, 199)


.swiper-pagination
    @media (min-width: $tablet)
        display: none

    &-bullet
        background-color: transparent
        border: 1px solid rgb(199, 128, 37)
        height: 10px
        opacity: 1
        width: 10px

        &-active
            background-color: rgb(199, 128, 37)
