.header
    background-color: rgba(0, 0, 0, .5)
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 5

    &-content
        align-items: center
        display: flex
        height: 80px
        justify-content: space-between
        padding: 0
        position: relative
        width: 100%
        
        @media (min-width: $tablet)
            height: 114px


    &-nav
        align-items: flex-end
        display: none
        flex-direction: column

        @media (min-width: $tablet)
            display: flex

    &-social-media
        display: flex
        margin-bottom: 15px

        &-links
            display: block
            height: 24px
            margin-right: 15px
            width: 24px

            &:last-child
                margin-right: 0
                
        &-img
            height: 100%
            width: 100%

    &-link
        color: white
        font-size: 1rem
        font-weight: 700
        margin-right: .5rem
        padding: 5px 10px
        text-decoration: none
        transition: background-color .5s ease-in-out

        &:last-child
            margin-right: 0

        &:hover,
        &_active
            background-color: rgb(46, 66, 127)

        @media (min-width: $desktop)
            padding: 5px 20px

    &-logo
        color: white
        display: block
        font-size: 4rem
        font-weight: 900
        text-decoration: none
        text-transform: uppercase
        margin-right: 10px

    &-mobile-menu
        @media (min-width: $tablet)
            display: none
