.overlayer
    background: rgba(0, 0, 0, .8)
    height: 100%
    left: 0
    opacity: 0
    position: fixed
    top: 0
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out
    visibility: hidden
    width: 100%
    z-index: 9

    &_active
        opacity: 1
        visibility: visible

.mobile-menu
    align-items: flex-start
    background: white
    display: flex
    flex-direction: column
    height: 100%
    padding: 1rem 2rem
    position: fixed
    right: 0
    top: 0
    transform: translateX(100%)
    transition: transform .5s ease-in-out
    width: 240px
    z-index: 9

    @media (min-width: $tablet)
        display: none

    &-btn-close
        display: flex
        font-size: 3rem
        justify-content: flex-end
        margin-bottom: 2rem

    &-link
        color: black
        font-size: 1rem
        font-weight: 700
        margin-bottom: 1rem
        padding: 0 1rem
        text-decoration: none

        &:last-child
            margin-bottom: 0

        &_active
            background-color: rgb(46, 66, 127)
            color: white

    &_active
        transform: translateX(0)
            
