@font-face 
  font-display: swap
  font-family: 'Antipasto'
  font-style: normal
  font-weight: 400
  src: url(../../assets/fonts/antipasto/antipasto-400.woff2)


@font-face 
  font-display: swap
  font-family: 'Antipasto'
  font-style: normal
  font-weight: 700
  src: url(../../assets/fonts/antipasto/antipasto-700.woff2)


@font-face 
  font-display: swap
  font-family: 'Dosis'
  font-style: normal
  font-weight: 400
  src: url(../../assets/fonts/dosis/dosis-400.woff2)
  
@font-face 
  font-display: swap
  font-family: 'Dosis'
  font-style: normal
  font-weight: 500
  src: url(../../assets/fonts/dosis/dosis-500.woff2)


@font-face 
  font-display: swap
  font-family: 'Dosis'
  font-style: normal
  font-weight: 700
  src: url(../../assets/fonts/dosis/dosis-700.woff2)

@font-face 
  font-display: swap
  font-family: 'Dosis'
  font-style: normal
  font-weight: 900
  src: url(../../assets/fonts/dosis/dosis-900.woff2)
