@import '_variables'
@import '_general'
@import '_typograpy'
@import '_header'
@import '_mobile_menu'
@import '_footer'


// ----------------------
// MAIN CONTENT
// ----------------------
.main-slider
    border-bottom: 1px solid rgb(217, 217, 217)
    display: block
    padding-bottom: 10px
    position: relative
    width: 100%


    &-figure
        display: block        
        padding-top: 140%
        position: relative
        
        @media (min-width: $mobile)
            padding-top: 80%

        @media (min-width: $desktop)
            padding-top: 38.95%

    &-img
        height: 100%
        left: 0
        object-fit: cover
        position: absolute
        top: 0
        width: 100%

    &-navigation
        align-items: center
        bottom: 10px
        display: flex
        justify-content: space-between
        left: 0
        padding: 0 5rem
        position: absolute
        width: 100%
        z-index: 3

        @media (min-width: $tablet)
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)


        &-next,
        &-prev
            cursor: pointer
            display: none
            height: 40px
            width: 40px

            @media (min-width: $tablet)
                display: flex

        &-img
            display: block
            height: 100%
            width: 100%


// ----------------------
// TOURS
// ----------------------
.tours
    border-bottom: 1px solid rgb(217, 217, 217)
    padding: 15px 0

    &-title
        color: rgb(46, 66, 127)
        font-size: 3rem
        margin-bottom: 3rem
        text-align: center
        text-transform: uppercase
    
    &-text
        color: rgb(128, 128, 128)
        font-size: 1.5rem
        margin-bottom: 2rem
        text-align: center
        
    &-btn
        border-radius: 4px
        display: flex
        margin: 2rem auto 0
        max-width: 120px

    &-grid
        display: grid
        gap: 30px 20px
        grid-template-columns: repeat(1, minmax(0,1fr))

        @media (min-width: $mobile)
            gap: 20px
            grid-template-columns: repeat(2, minmax(0,1fr))

        @media (min-width: $desktop)
            grid-template-columns: repeat(3, minmax(0,1fr))


.tour-item
    border-bottom: 1px solid rgb(217, 217, 217)

    &-slider
        border-radius: 20px
        overflow: hidden

        &-figure
            display: block        
            padding-top: 47.36%
            position: relative

        &-img
            height: 100%
            left: 0
            object-fit: cover
            position: absolute
            top: 0
            width: 100%

    &-content
        display: flex
        justify-content: space-between

        &-item
            margin-right: 15px

            &:last-child
                margin-right: 0

            &_right
                align-items: flex-end
                display: flex
                flex-direction: column
                
    &-title
        font-size: 1.5rem
        font-weight: 700

    &-text
        font-size: .8rem

    &-price
        color: rgb(167, 66, 42)
        font-size: 1.3rem
        font-weight: 700


// ----------------------
// OUR CLIENTS
// ----------------------
.our-clients
    padding: 20px 0

    @media (min-width: $tablet)
        padding: 3rem

    &-title
        color: rgb(64, 64, 64)
        font-size: 2rem
        margin-bottom: 1.5rem
        text-align: center

    
    &-text
        color: rgb(128, 128, 128)
        font-size: 1.5rem
        margin-bottom: 3rem
        text-align: center

        @media (min-width: $tablet)
            margin-bottom: 4rem    

    &-grid
        align-items: flex-end
        display: grid
        gap: 50px 20px
        grid-template-columns: repeat(1, minmax(0,1fr))

        @media (min-width: $desktop)
            grid-template-columns: repeat(3, minmax(0,1fr))     

.client
    &-figure
        display: block
        height: auto
        margin: 0 auto
        width: 200px

    &-img
        height: auto
        width: 100%

    &-price
        color: rgb(46, 66, 127)
        font-size: 4rem
        font-weight: 700
        text-align: center

    &-text
        color: rgb(64, 64, 64)
        font-size: 1.5rem
        font-weight: 700
        text-align: center


// ----------------------
// TOUR-FEATURED
// ----------------------
.tour-featured
    height: 460px
    position: relative
    width: 100%

    &::before
        background: linear-gradient(90deg, rgba(11, 146, 205, 0) 11%, rgba(11, 146, 205, .4) 33%)  
        background: rgb(11, 146, 205)
        content: ''
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 3

    &-figure
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 2

    &-img
        display: block
        height: 100%
        object-fit: cover
        width: 100%

    &-container
        position: relative
        z-index: 3

    &-content
        align-items: flex-end
        display: flex
        flex-direction: column
        height: 100%
        justify-content: center
        padding: 3rem 0

    &-title
        color: white
        font-size: 2.5rem
        font-weight: 700

    &-btn
        bottom: 80px
        position: absolute


// ----------------------
// PROMOTION
// ----------------------
.promotion
    background-color: rgb(247, 247, 247)
    border-bottom: 1px solid rgb(189, 189, 189)
    padding: 2rem 0 1rem

    &-title
        color: rgb(64, 64, 64)
        font-size: 1.5rem
        font-weight: 700
        margin-bottom: 2rem
        text-align: center

    &-flex
        display: flex
        flex-wrap: wrap

        @media (min-width: $tablet)
            flex-wrap: nowrap
    
    &-input
        border: 1px solid rgb(189, 189, 189)
        padding-left: 50px
        width: 100%

        &-container
            flex-grow: 1
            margin-bottom: 1rem
            position: relative
            width: 100%

            &:last-child
                margin-right: 0

            @media (min-width: $tablet)
                margin-bottom: 0
                margin-right: 20px

        &-img
            height: auto
            left: 10px
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 20px
            
    &-btn
        display: flex
        margin: 20px auto 0
        max-width: 120px


// ----------------------
// EXPERIENCES
// ----------------------
.experiences
    padding: 3rem 0
    position: relative

    &-title
        color: rgb(64, 64, 64)
        font-size: 2rem
        margin-bottom: 3rem
        text-align: center
        text-transform: uppercase

    &-slider
        padding: 0 2rem
        position: relative
        width: 100%

        @media (min-width: $desktop)
            max-width: 800px

        @media (min-width: $desktop-lg)
            max-width: 1000px

        @media (min-width: $desktop-xl)
            max-width: 1200px

        &::before,
        &::after
            background: rgb(218, 218, 218)
            content: ''
            height: 60%
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 2px
            
        &::before
            box-shadow: 0px 0px 15px black
            left: 0

        &::after
            box-shadow: 0px 0px 15px black
            right: 0

        &-figure
            border-radius: 50%
            height: 140px
            margin: 0 auto 3rem
            overflow: hidden
            width: 140px
        
        &-navigation
            margin-top: 10px

            @media (min-width: $desktop)
                align-items: center
                bottom: 0
                display: flex
                justify-content: space-between
                left: 50%
                margin-top: 0
                padding: 0 2rem
                position: absolute
                top: 50%
                transform: translate(-50%, -50%)
                width: 100%
                z-index: 3

            @media (min-width: $desktop-lg)
                padding: 0 5rem

            &-next,
            &-prev
                cursor: pointer
                display: none
                height: 40px
                width: 40px

                @media (min-width: $desktop)
                    display: flex

            &-img
                display: block
                height: 100%
                width: 100%

            &-pagination
                display: flex
                justify-content: center

                @media (min-width: $desktop)
                    display: none